.MarginR_10{
	margin-right: 10px;
}
.MarginLR_10{
	margin: 0 10px;
}
.MarginT_20{
	margin-top: 20px;
}
.swiper-tab-list{
	width: 25% !important;
}
.TextAlignR{
	text-align: right;
}
.Bold{
	font-weight: bold;
}
.PaddingR_20{
	padding-right: 20upx;
}
/* Empty */
.ResultListEmpty{
	text-align: center;
}
.ResultListEmpty text{
	color: #999;
}
.ResultListEmpty image{
	width: 80px;
	height: 80px;
	display: block;
	margin: 50px auto 0 auto;
}